body {
  background-color: rgb(248, 244, 229);
}

.font-style-restaurants {
  display: grid;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(29, 28, 28);
  text-align: center;
  position: sticky;
}

.restaurant-name {
  top: 10px;
  font-size: 50px;
  font-weight: bold;
}

.attribute-name {
  font-size: 20px;
}

.review-spacing {
  margin-bottom: 40px;
}
